html,body,div{
  height: 100%;
  margin: 0;
  padding: 0;
}

header{
  background: #027fff;
  color: #17234d;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
}

main{
  background: #ff0000;
  height: 100%;
  width: 100%;
}

footer{
  background: #e06d6d;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  list-style: none;
  float: left;
  color: #122053;
}

.right-button{
  list-style-type: none;
  padding-right: 10px;
  margin-right: 10px;
  float: right;
}

.header-button{
  padding: 12.5px 30px;
  position: relative;
  top: -20px;
  right: 10px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  font-family: 'Kanit' sans-serif;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.header-button:hover {
  background-color: #bef2fd;
  box-shadow: 0 0 20px #6fc5ff50;
  font-family: 'Kanit', sans-serif, 400;
  top: -15px;
}

.header-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
}

.picture{
  height: 30px;
  margin-left: 20px;
}

.caption{
  font-size: 10px;
}

#caption-maxfel{
  position: absolute;
  top: 50px;
  left: 42px;
  font-family: 'Kanit';
}

#Maxfel{
  position: relative;
  background-color: #004e9c;
  height: 75%;
}

#Musik{
  background-color: #045eb9;
  height: 500px;
}

#Game-Wiki{
  background-color: aliceblue;
  height: 500px;
}

#top{
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Fredoka One';
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  color: #17234d;
}

#Was{
  color: #17234D;
  font-family: 'Kanit';
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  margin-left: 10px;
  margin-bottom: 1px;
}

#was-erklärung{
  margin-left: 10px;
  margin-right: 230px;
  font-family: 'Kanit';
  font-weight: 400;
  margin-top: 5px;
  width: 74%;
}

*::-webkit-scrollbar{
  width: 10px;
}

*::-webkit-scrollbar-track{
  border-radius: 6px;
  background-color: #345AA0;
}

*::-webkit-scrollbar-track:hover {
  border-radius: 6px;
  background-color: #345AA0;
}

*::-webkit-scrollbar-track:active {
  border-radius: 6px;
  background-color: #345AA0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #46D0DF;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background-color: #1DA39F;
}

*::-webkit-scrollbar-thumb:active {
  border-radius: 6px;
  background-color: #47A9C2;
}